
/* * { border: 1px solid red !important; }      */
.div1{
    background-color: #00d0ff;
    position: sticky;
    top: 0;
    z-index: 6;
}

/* .welcome{
    position: absolute;
    color: white;
    font-family: jaini;
} */

/* .container-fluid{
    background-color: #1487DB;
} */

.nav{
    justify-content: end;
    max-width: 100%;
    overflow: hidden;
    /* box-sizing: border-box; */
}

.nav-link{
    color: white;
    font-size: 20px;
    font-family: jaini;
}
.content{
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #144069;
    position: relative;
    
}

.intro{
    position: absolute;
    left: 600px;
    top: 200px;
    width: 400px;
    height: 300px;
    color: white;
    font-size: 30px;
    font-family: jaini;
    background-color:#144069;
}

#aboutme{
    color: #1487DB;
    position: absolute;
    left: 600px;
    top: 330px;
}

.about_me{
    font-family: jaini;
    color: white;
    position: absolute;
    left: 600px;
    top: 330px;
}

.fa-solid.fa-arrow-right{
    color:#fafafa;
}
.myphoto{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: absolute;
    left: 200px;
    top: 200px;
}

.fa-solid.fa-phone{
    position: absolute;
    top: 400px;
    left: 600px;
}

.fa-sharp.fa-regular.fa-envelope{
    color:#fafafa;
    position: absolute;
    top: 435px;
    left: 600px;
}

.mymail{
    font-size: 20px;
    color: white;
    position: absolute;
    top: 425px;
    left: 620px;
}

#resume{
    font-size: 20px;
    font-family: jaini;
    color: #1487DB;
    position: absolute;
    left: 600px;
    top: 475px;
}

.about_page{
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #1487DB;  
}

.about_h{
    color: white;
    font-family: jaini;
    position: absolute;
    /* left: 300px;
    top: 200px; */
    margin-left: 10px;
    top: 50px;
    text-decoration: underline;
}

.about_content{
    width: 600px;
    height: 300px;
    color: white;
    background-color: #1487DB;
    position: absolute;
    left: 400px;
    top: 300px;
    font-size: 25px;
    font-family: jaini;
    text-align: justify;
}

.skills_page{
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #144069;  
    position: relative;
}

.skills{

    font-family: jaini;
    color: white;
    position: absolute;
    margin-left: 10px;
    top: 50px;
    text-decoration: underline;
    /* left: 700px;
    top: 100px; */
}


.master{
    width: 1000px;
    height: 450px;
    background-color: #144069;
    border: 3px solid #144069;
    position: absolute;
    left: 250px;
    top: 250px;
    display: grid;
    grid-template-columns: 140px 140px 140px 140px 140px 140px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px;
    column-gap: 30px;
    row-gap: 80px;
}

.div_1{
    grid-column: 1;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */
    
}

.div_1:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}
.div_2{
    grid-column: 2;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */

}

.div_2:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_3{
    grid-column: 3;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */

}

.div_3:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_4{
    grid-column: 4;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */
}

.div_4:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_5{
    grid-column: 5;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */

}

.div_5:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_6{
    grid-column: 6;
    grid-row: 1;
    border: 2px solid #144069;
    /* border-radius: 120px; */
}

.div_6:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_7:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_8:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_9:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_10:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_11:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}

.div_12:hover{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgb(2, 215, 201);
}



.labels{
    width: 995px;
    height: 20px;
    background-color:#144069;
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}


.labels_2{
    width: 995px;
    height: 20px;
    background-color: #144069;
    position: absolute;
    top: 340px;
    display: flex;
    justify-content: space-around;
    margin-right: 50px; 
}

.skill_labels{
    color: white;
    font-family: jaini;
    /* margin-right: 50px; */
    /* padding-right: 70px;
    padding-left: 20px; */
}
.skills_icon{
    width: 120px;
    height: 120px;
}

.projects{
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #1487DB;  
    position: relative;
}

.projecth{
    position: absolute;
    top: 50px;
    color: white;
    font-family: jaini;
    margin-left: 10px;
    text-decoration: underline;

}


.stick_and_ball{
    
    position: absolute;
    top: 150px;
    left: 200px;
}
.stick{
    width: 1000px;
    height: 5px;
    background-color: white;
    position: absolute;
}

.ball{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 120px;
    position: absolute;
    left: 245px;
    top: -10px;
}

.ball_2{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 120px;
    position: absolute;
    left: 700px;
    top: -10px;
}

.timeline1{
    width: 250px;
    position: absolute;
    top: -40px;
    left: 150px;
    font-size: 20px;
    color: white;
}

.timeline2{
    width: 250px;
    position: absolute;
    top: -40px;
    left: 600px;
    font-size: 20px;
    color: white;
}

.project_des1{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 500px;
    height: 450px;
    background-color: #1487DB;
    color: white;
    font-size: 25px;
    font-family: jaini;
    text-align: justify;
}

.project_des2{
    position: absolute;
    left: 900px;
    top: 200px;
    width: 500px;
    height: 450px;
    background-color: #1487DB;
    color: white;
    font-size: 25px;
    font-family: jaini;
    text-align: justify;
}

.education{
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #144069;
    position: relative;
}

.educationh{
    position: absolute;
    top: 50px;
    color: white;
    font-family: jaini;
    margin-left: 10px;
    text-decoration: underline;
}

.stick_and_ball_2{
    position: relative;
    left: 0px;
    top: 50px;
}

.stick2{
    width: 5px;
    height: 600px;
    background-color: white ;
    position: absolute;
    left: 200px;
    top: 50px;
}

.ball3{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 120px;
    position: absolute;
    left: 187px;
    top: 100px;
}

.ball4{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 120px;
    position: absolute;
    left: 187px;
    top: 300px;
}

.ball5{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 120px;
    position: absolute;
    left: 187px;
    top: 500px;
}

.educontent{
    width: 650px;
    height: 150px;
    background-color: #144069;
    color: white;
    font-size: 25px;
    font-family: jaini;
    position: absolute;
    left: 300px;
    top: 150px;
}
.educontent2{
    width: 650px;
    height: 150px;
    background-color: #144069;
    color: white;
    font-size: 25px;
    font-family: jaini;
    position: absolute;
    left: 300px;
    top: 350px;
}
.educontent3{
    width: 650px;
    height: 150px;
    background-color: #144069;
    color: white;
    font-size: 25px;
    font-family: jaini;
    position: absolute;
    left: 300px;
    top: 550px;
}

.contactme{
    max-width: 100%;
    width: 1920px;
    height: 720px;
    background-color: #1487DB;  
    position: relative;
}

.contactmeh{
    position: absolute;
    top: 50px;
    color: white;
    font-family: jaini;
    margin-left: 10px;
    text-decoration: underline;

}

input{
    border-radius: 10px;
}

textarea{
    border-radius: 10px;
}
.cmaster{
    width: 600px;
    height: 400px;
    background-color: #106DA2;
    position: absolute;
    left: 400px;
    top: 150px;

}

table{
    text-align: center;
    margin: auto;
    margin-top: 25px;
    color: white;
    font-size: 25px;
    font-family: jaini;
    border: 2px solid #106DA2;
    border-collapse: collapse;
    padding: 10px;
}

th{
    border: 3px solid #106DA2;
    border-collapse: collapse;
    /* padding: 10px; */
    background-color: #106DA2;
}

td{
    padding: 10px;
}

#submit{
    color: white;
    background-color: #144069;
    border-radius: 5px;
    /* position: absolute;
    left: 250px;
    top: 350px; */
}

footer{
    background-color: #144069;
}

.contacts{
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
    background-color: #144069;
    position: relative;
    top: 600px
}

.myfooter{
    background-color: #144069;
    position: relative;
    top: 600px;
   
}

.footerdiv{
    max-width: 100%;
    width: 1515px;
    height: 200px;
    background-color: #144069;
    position: relative;

}

.social_icons{
    width: 220px;
    height: 50px;
    background-color: #144069;
    position: absolute;
    top: 50px;
    left: 650px;
    display: flex;
    justify-content: space-around;
}

.instagram{
    height: 50px;
    width: 50px;
    background-color: #144069;
}
.linkedin{
    height: 50px;
    width: 50px;
    background-color: #144069;
}
.github{
    height: 50px;
    width: 50px;
    background-color: #144069;
}

.whatsapp{
    height: 50px;
    width: 50px;
    background-color: #144069;
}

.fa-brands.fa-instagram{
    font-size: 50px;
    color: white;
}

.fa-brands.fa-instagram:hover{
    color: red;
}

.fa-brands.fa-github{
    font-size: 50px;
    color: white;
}

.fa-brands.fa-github:hover{
    color: red;
}

.fa-brands.fa-linkedin{
    font-size: 50px;
    color: white;
}

.fa-brands.fa-linkedin:hover{
    color: red;
}

.fa-brands.fa-whatsapp{
    font-size: 50px;
    color: white;
}

.fa-brands.fa-whatsapp:hover{
    color: red;
}

.footernav{
    width: 700px;
    height: 25px;
    color: white;
    background-color: #144069;
    position: absolute;
    top: 120px;
    left: 400px;
}

.footerbar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.signature{
    width: 1513px;
    height: 25px;
    background-color: #144069;
    text-align: center;
    color: white;
}

